{% if content %}
	<div{{attributes.addClass('titre-description')}}>
		{% if content.title|has_value %}
    		<h2 {{ region_attributes.title.addClass(['title']) }}>
    			{{ content.title|layout_value }}
    		</h2>
		{% endif %}
		{% if content.description|has_value %}
    		<div {{ region_attributes.description.addClass(['description']) }}>
    			{{ content.description|layout_value }}
    		</div>
		{% endif %}
	</div>
{% endif %}