{% if content %}
	<div {{ attributes.addClass(['home-blog']) }}>
		<div class="row">
			{% if content.top %}
				<div {{ region_attributes.top.addClass(['top', settings.css_top]) }}>
					{{ content.top }}
				</div>
			{% endif %}
			{% if content.left %}
				<div {{ region_attributes.left.addClass(['left', settings.css_left]) }}>
					{% if content.lefttile %}
						<h1 {{ region_attributes.lefttile.addClass(['lefttile']) }}>
							{{ content.lefttile }}
						</h1>
					{% endif %}
					{{ content.left }}
				</div>
			{% endif %}
			{% if content.right %}
				<div {{ region_attributes.right.addClass(['right', settings.css_right]) }}>
					{% if content.righttile %}
						<h1 {{ region_attributes.righttile.addClass(['righttile']) }}>
							{{ content.righttile }}
						</h1>
					{% endif %}
					{{ content.right }}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}