{% if content %}
    <div class="single-blog">
         <h1 class="single-blog--title">
              {{ content.title }}
         </h1>
         <div class="single-blog--tags">
              {% if content.tags.layout_builder_add_block %}
                  {{ content.tags }}
              {% else %}
                  {% for block in content.tags|layout_value %}
                      {% for value in block %}
                          {% if value["#theme"] %}
                              <div class="item">{{ value }}</div>
                          {% endif %}
                      {% endfor %}
                  {% endfor %}
              {% endif %}
         </div>

         <div class="single-blog--icones_info">
              {{ content.icones_info }}
         </div>

         <div class="single-blog--introduction">
              {% if content.introduction.layout_builder_add_block %}
                  {{ content.introduction }}
              {% else %}
                  {% for block in content.introduction|layout_value %}
                      {% for value in block %}
                          {% if value["#theme"] %}
                              <div class="item">{{ value }}</div>
                          {% endif %}
                      {% endfor %}
                  {% endfor %}
              {% endif %}
         </div>

         <div class="single-blog--images">
              {{ content.images }}
         </div>

         <div class="single-blog--body">
              {{ content.body }}
         </div>
         {% if content.owls %}
             <div class="single-blog--owl">
                  <div class="owl-carousel owl-theme" data-owlresponsive='{"items":1,"nav":true,"dots":false,"loop":true,"autoplayTimeout":15000,"autoplayHoverPause":true,"autoplay":true}'>
                       {% for block in content.owls|layout_value  %}
                           {% for field in block %}
                               <div >{{ field }}</div>
                           {% endfor %}
                       {% endfor %}
                  </div>
             </div>
         {% endif %}

    </div>
    {% if content.slick_carousel_img|layout_raw or content.realisation|layout_raw %}
        <div class="slick-carousel-img space-margin">
             {% if content.realisation %}
                 <div class="single-blog">
                      <div class="single-blog--body">
                           {{ content.realisation }}
                      </div>
                 </div>
             {% endif %}
             {# module splidejs #}
             {% if content.slick_carousel_img|layout_raw %}
                 <div id="splide" class="splide custom-splidejs">
                      <div class="splide__track">
                           <div class="splide__list">
                                {% for block in content.slick_carousel_img|layout_value %}
                                    {% for field in block %}
                                        <div class="splide__slide">
                                             {{ field }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                           </div>
                      </div>
                 </div>
             {% endif %}
        </div>
    {% endif %}
    {% include '@formatage_models/includes/add-region-edit.html.twig' %}
{% endif %}