{% if content %}
	<div {{attributes.addClass(['galeryTitle'])}}>
		<div class="galeryTitle__container">
			<h1 {{region_attributes.title.addClass(['title'])}}>
				{% set title= {
					'#theme': 'formatage_models__clean_field',
					'#content_all': content.title
				} %}
				{{ render_var(title) }}
			</h1>
			<h3 {{region_attributes.description.addClass(['description'])}}>
				{% set description= {
					'#theme': 'formatage_models__clean_field',
					'#content_all': content.description
				} %}
				{{ render_var(description) }}
			</h3>
			<div {{region_attributes.localisation.addClass(['localisation','icon-ping']) }}>
				<span>
					<i class="fa fa-map-marker"></i>
				</span>
				{% set localisation= {
					'#theme': 'formatage_models__clean_field',
					'#tag_field': 'span',
					'#content_all': content.localisation
				} %}

				{{ render_var(localisation) }}
			</div>
		</div>
	</div>
{% endif %}
