{% if content %}
	<section {{ attributes.addClass(['fb-services','section-padding']) }}>
		<div class="container">
			<div class="section-header text-center">
				{% if content.title %}
					<h2 class="section-header wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s;  animation-delay: 0.3s; ">
						{{ content.title }}
					</h2>
				{% endif %}
				<div class="shape wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-aniation-delay: 0.3s; animation-delay: 0.3s; "></div>
				<div class="row">
					<div class="col-md-6 col-lg-4 col-xs-12">
						<div class="services-item wow fadeInRight animated" data-wow-delay="0.3s" style=" visibility: visible; -webkit-animation-delay: 0.3s; -moz-aniation-delay: 0.3s; animation-delay: 0.3s;">
							<div class="icon">
								<i class="icon">
									{{ content.svg_blocl1 }}
								</i>
							</div>
							<div class="services-content">
								<h3>
									{{ content.title_blocl1 }}
								</h3>
								<div class="description">{{ content.desc_blocl1 }}</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xs-12">
						<div class="services-item wow fadeInRight animated" data-wow-delay="0.6s" style=" visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; ">
							<div class="icon">
								<i class="">
									{{ content.svg_blocl2 }}
								</i>
							</div>
							<div class="services-content">
								<h3>
									{{ content.title_blocl2 }}
								</h3>
								<div class="description">{{ content.desc_blocl2 }}</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xs-12">
						<div class="services-item wow fadeInRight animated" data-wow-delay="0.9s" style="visibility: visible; -webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s; ">
							<div class="icon">
								<i class="">
									{{ content.svg_blocl3 }}
								</i>
							</div>
							<div class="services-content">
								{% if content.title_blocl3 %}
									<h3>
										{{ content.title_blocl3 }}
									</h3>
								{% endif %}
								<div class="description">{{ content.desc_blocl3 }}</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xs-12">
						<div class="services-item wow fadeInRight animated" data-wow-delay="1.2s" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s; ">
							<div class="icon">
								<i class="">
									{{ content.svg_blocl4 }}
								</i>
							</div>
							<div class="services-content">
								<h3>
									{{ content.title_blocl4 }}
								</h3>
								<div class="description">{{ content.desc_blocl4 }}</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xs-12">
						<div class="services-item wow fadeInRight animated" data-wow-delay="1.5s" style=" visibility: visible;  -webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s;  animation-delay: 1.5s;">
							<div class="icon">
								<i class="">
									{{ content.svg_blocl5 }}
								</i>
							</div>
							<div class="services-content">
								<h3>
									{{ content.title_blocl5 }}
								</h3>
								<div class="description">{{ content.desc_blocl5 }}</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 col-xs-12">
						<div class="services-item wow fadeInRight animated" data-wow-delay="1.8s" style="visibility: visible;  -webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s; animation-delay: 1.8s; ">
							<div class="icon">
								<i class="">
									{{ content.svg_blocl6 }}
								</i>
							</div>
							<div class="services-content">
								<h3>
									{{ content.title_blocl6 }}
								</h3>
								<div class="description">{{ content.desc_blocl6 }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}