{% if content %}
	{% if content.imagebg.layout_builder_add_block %}
		{{ content.imagebg }}
	{% endif %}
	{% if content.imagebg|layout_bg_img %}
		{% set attributes=attributes.merge(content.imagebg|layout_bg_img) %}
	{% endif %}
	<section {{attributes.addClass('appson-section-handler')}}>
		<div class="container">
			<div class="slider-content d-flex flex-center">
				<div class="col-md-8 col-sm-9 col-xs-12 d-flex flex-center">
					<div class="slider-nner">
						{% if content.title %}
							<{{settings.region_tag_title}} {{region_attributes.title.addClass('title')}}>
								{{content.title}}
							</{{settings.region_tag_title}}>
						{% endif %}
						{% if content.sub_title %}
							<h4 {{region_attributes.sub_title.addClass('sub-title')}}>
								{{content.sub_title}}
							</h4>
						{% endif %}
						<div {{region_attributes.description.addClass('description')}}>
							{{content.description}}
						</div>
						{% if content.call_action %}
							{{content.call_action}}
						{% endif %}
					</div>
				</div>
				<div class="col-md-4 hidden-sm hidden-xs">
					{% if content.image %}
						<div class="slider-m-img">
							{{ content.image }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
<section id="services" class="section-padding space_bottom">
	<div class="container">
		<div class="section-header text-center">
			<h2 class="section-header wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s;  animation-delay: 0.3s; ">
				Quel type de travaux souhaitez-vous effectuer ?
			</h2>
			<div class="shape wow fadeInDown animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-aniation-delay: 0.3s; animation-delay: 0.3s; "></div>
			<div class="row">
				<div class="col-md-6 col-lg-4 col-xs-12">
					<div class="services-item wow fadeInRight animated" data-wow-delay="0.3s" style=" visibility: visible; -webkit-animation-delay: 0.3s; -moz-aniation-delay: 0.3s; animation-delay: 0.3s;">
						<div class="icon">
							<i class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="35" height="40" preserveaspectratio="xMidYMid meet" viewbox="0 0 1024 1024">
									<path fill="currentColor" d="m924.8 625.7l-65.5-56c3.1-19 4.7-38.4 4.7-57.8s-1.6-38.8-4.7-57.8l65.5-56a32.03 32.03 0 0 0 9.3-35.2l-.9-2.6a443.74 443.74 0 0 0-79.7-137.9l-1.8-2.1a32.12 32.12 0 0 0-35.1-9.5l-81.3 28.9c-30-24.6-63.5-44-99.7-57.6l-15.7-85a32.05 32.05 0 0 0-25.8-25.7l-2.7-.5c-52.1-9.4-106.9-9.4-159 0l-2.7.5a32.05 32.05 0 0 0-25.8 25.7l-15.8 85.4a351.86 351.86 0 0 0-99 57.4l-81.9-29.1a32 32 0 0 0-35.1 9.5l-1.8 2.1a446.02 446.02 0 0 0-79.7 137.9l-.9 2.6c-4.5 12.5-.8 26.5 9.3 35.2l66.3 56.6c-3.1 18.8-4.6 38-4.6 57.1c0 19.2 1.5 38.4 4.6 57.1L99 625.5a32.03 32.03 0 0 0-9.3 35.2l.9 2.6c18.1 50.4 44.9 96.9 79.7 137.9l1.8 2.1a32.12 32.12 0 0 0 35.1 9.5l81.9-29.1c29.8 24.5 63.1 43.9 99 57.4l15.8 85.4a32.05 32.05 0 0 0 25.8 25.7l2.7.5a449.4 449.4 0 0 0 159 0l2.7-.5a32.05 32.05 0 0 0 25.8-25.7l15.7-85a350 350 0 0 0 99.7-57.6l81.3 28.9a32 32 0 0 0 35.1-9.5l1.8-2.1c34.8-41.1 61.6-87.5 79.7-137.9l.9-2.6c4.5-12.3.8-26.3-9.3-35zM788.3 465.9c2.5 15.1 3.8 30.6 3.8 46.1s-1.3 31-3.8 46.1l-6.6 40.1l74.7 63.9a370.03 370.03 0 0 1-42.6 73.6L721 702.8l-31.4 25.8c-23.9 19.6-50.5 35-79.3 45.8l-38.1 14.3l-17.9 97a377.5 377.5 0 0 1-85 0l-17.9-97.2l-37.8-14.5c-28.5-10.8-55-26.2-78.7-45.7l-31.4-25.9l-93.4 33.2c-17-22.9-31.2-47.6-42.6-73.6l75.5-64.5l-6.5-40c-2.4-14.9-3.7-30.3-3.7-45.5c0-15.3 1.2-30.6 3.7-45.5l6.5-40l-75.5-64.5c11.3-26.1 25.6-50.7 42.6-73.6l93.4 33.2l31.4-25.9c23.7-19.5 50.2-34.9 78.7-45.7l37.9-14.3l17.9-97.2c28.1-3.2 56.8-3.2 85 0l17.9 97l38.1 14.3c28.7 10.8 55.4 26.2 79.3 45.8l31.4 25.8l92.8-32.9c17 22.9 31.2 47.6 42.6 73.6L781.8 426l6.5 39.9zM512 326c-97.2 0-176 78.8-176 176s78.8 176 176 176s176-78.8 176-176s-78.8-176-176-176zm79.2 255.2A111.6 111.6 0 0 1 512 614c-29.9 0-58-11.7-79.2-32.8A111.6 111.6 0 0 1 400 502c0-29.9 11.7-58 32.8-79.2C454 401.6 482.1 390 512 390c29.9 0 58 11.6 79.2 32.8A111.6 111.6 0 0 1 624 502c0 29.9-11.7 58-32.8 79.2z"/>
								</svg>
							</i>
						</div>
						<div class="services-content">
							<h3>
								<a href="#">
									Isolation
								</a>
							</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia  quasi dolorem harum velit minus eveniet!
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xs-12">
					<div class="services-item wow fadeInRight animated" data-wow-delay="0.6s" style=" visibility: visible; -webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s; ">
						<div class="icon">
							<i class="">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="35" height="40" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
									<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
										<path stroke-miterlimit="5.759" d="M3 3v16a2 2 0 0 0 2 2h16"/>
										<path stroke-miterlimit="5.759" d="m7 14l4-4l4 4l6-6"/>
										<path d="M18 8h3v3"/>
									</g>
								</svg>
							</i>
						</div>
						<div class="services-content">
							<h3>
								<a href="#">
									Fenetre
								</a>
							</h3>
							<p>
								Ut maximus enim dolor. Aenean auctor risus eget tincidunt lobortis. Donec tincidunt bibendum gravida.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xs-12">
					<div class="services-item wow fadeInRight animated" data-wow-delay="0.9s" style="visibility: visible; -webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s; ">
						<div class="icon">
							<i class="">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="35" height="40" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
									<path fill="currentColor" fill-rule="evenodd" d="M8 13a3 3 0 1 1 0-6a3 3 0 0 1 0 6Zm8 0a3 3 0 1 1 0-6a3 3 0 0 1 0 6Zm-8 2a7.98 7.98 0 0 1 6 2.708V19H2v-1.292A7.98 7.98 0 0 1 8 15Zm8 4v-2.048l-.5-.567a10.057 10.057 0 0 0-1.25-1.193A8.028 8.028 0 0 1 16 15a7.98 7.98 0 0 1 6 2.708V19h-6Z"/>
								</svg>
							</i>
						</div>
						<div class="services-content">
							<h3>
								<a href="#">Easy To Customize</a>
							</h3>
							<p>
								Ut maximus enim dolor. Aenean auctor risus eget tincidunt     lobortis. Donec tincidunt bibendum gravida.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xs-12">
					<div class="services-item wow fadeInRight animated" data-wow-delay="1.2s" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s; ">
						<div class="icon">
							<i class="">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="35" height="40" preserveaspectratio="xMidYMid meet" viewbox="0 0 32 32">
									<g fill="currentColor">
										<path d="M30.765 7.262L19.222.747c-1.571-.887-4.271-.888-5.845 0L1.834 7.262C.951 7.761.466 8.459.466 9.229s.486 1.468 1.368 1.966l11.543 6.516c.786.444 1.824.688 2.922.688c1.099 0 2.137-.245 2.923-.688l11.543-6.516c.883-.498 1.369-1.196 1.369-1.966s-.487-1.468-1.369-1.967zm-.526 3.003l-11.543 6.516c-1.238.699-3.556.7-4.794 0L2.359 10.265c-.524-.296-.824-.674-.824-1.036c0-.363.3-.74.824-1.037l11.543-6.516c.619-.35 1.493-.55 2.396-.55c.904 0 1.778.201 2.397.55l11.543 6.516c.524.296.825.674.825 1.037c.001.362-.299.74-.824 1.036z"/>
										<path d="M30.765 14.099a.536.536 0 0 0-.526.931c.524.296.825.674.825 1.036s-.301.74-.825 1.036l-11.543 6.516c-1.298.733-3.494.734-4.794 0L2.359 17.102c-.524-.296-.824-.674-.824-1.036s.3-.74.824-1.036a.534.534 0 1 0-.526-.931C.95 14.597.465 15.296.465 16.066s.485 1.469 1.368 1.967l11.543 6.516c.819.462 1.871.694 2.922.694c1.052 0 2.104-.231 2.923-.694l11.543-6.516c.883-.498 1.369-1.197 1.369-1.967s-.486-1.469-1.368-1.967z"/>
										<path d="M30.765 20.804a.536.536 0 0 0-.526.931c.524.296.825.674.825 1.036s-.301.74-.825 1.037l-11.543 6.516c-1.298.733-3.494.734-4.794 0L2.359 23.807c-.524-.296-.824-.674-.824-1.037c0-.362.3-.74.824-1.036a.534.534 0 1 0-.526-.931C.952 21.302.466 22 .466 22.771s.485 1.469 1.368 1.967l11.543 6.516c.819.462 1.871.694 2.922.694c1.052 0 2.104-.231 2.923-.694l11.543-6.516c.883-.499 1.369-1.197 1.369-1.967s-.487-1.469-1.369-1.967z"/>
									</g>
								</svg>
							</i>
						</div>
						<div class="services-content">
							<h3>
								<a href="#">UI/UX Design</a>
							</h3>
							<p>
								Ut maximus enim dolor. Aenean auctor risus eget tincidunt	    lobortis. Donec tincidunt bibendum gravida.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xs-12">
					<div class="services-item wow fadeInRight animated" data-wow-delay="1.5s" style=" visibility: visible;  -webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s;  animation-delay: 1.5s;">
						<div class="icon">
							<i class="">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="35" height="40" preserveaspectratio="xMidYMid meet" viewbox="0 0 16 16">
									<g fill="currentColor">
										<path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
										<path d="M8 14a1 1 0 1 0 0-2a1 1 0 0 0 0 2z"/>
									</g>
								</svg>
							</i>
						</div>
						<div class="services-content">
							<h3>
								<a href="#">App Development</a>
							</h3>
							<p>
								Ut maximus enim dolor. Aenean auctor risus eget tincidunt    lobortis. Donec tincidunt bibendum gravida.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xs-12">
					<div class="services-item wow fadeInRight animated" data-wow-delay="1.8s" style="visibility: visible;  -webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s; animation-delay: 1.8s; ">
						<div class="icon">
							<i class="">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="35" height="40" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
									<g transform="rotate(-90 12 12)">
										<path fill="currentColor" d="M6 15c-.83 0-1.58.34-2.12.88C2.7 17.06 2 22 2 22s4.94-.7 6.12-1.88A2.996 2.996 0 0 0 6 15zm.71 3.71c-.28.28-2.17.76-2.17.76s.47-1.88.76-2.17c.17-.19.42-.3.7-.3a1.003 1.003 0 0 1 .71 1.71zm10.71-5.06c6.36-6.36 4.24-11.31 4.24-11.31S16.71.22 10.35 6.58l-2.49-.5a2.03 2.03 0 0 0-1.81.55L2 10.69l5 2.14L11.17 17l2.14 5l4.05-4.05c.47-.47.68-1.15.55-1.81l-.49-2.49zM7.41 10.83l-1.91-.82l1.97-1.97l1.44.29c-.57.83-1.08 1.7-1.5 2.5zm6.58 7.67l-.82-1.91c.8-.42 1.67-.93 2.49-1.5l.29 1.44l-1.96 1.97zM16 12.24c-1.32 1.32-3.38 2.4-4.04 2.73l-2.93-2.93c.32-.65 1.4-2.71 2.73-4.04c4.68-4.68 8.23-3.99 8.23-3.99s.69 3.55-3.99 8.23zM15 11c1.1 0 2-.9 2-2s-.9-2-2-2s-2 .9-2 2s.9 2 2 2z"/>
									</g>
								</svg>
							</i>
						</div>
						<div class="services-content">
							<h3>
								<a href="#">User Friendly interface</a>
							</h3>
							<p>
								Ut maximus enim dolor. Aenean auctor risus eget tincidunt lobortis. Donec tincidunt bibendum gravida.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>