{# empty Twig template #}
{% if content %}
	<div{{attributes.addClass('hero-section-rc-web')}}>
		<div class="hero-section-rc-web__block-center">
			<div class="desc">
				<div {{region_attributes.description.addClass('description','hp-desc')}}>
					{{content.description}}
				</div>
				<h2 {{region_attributes.title.addClass('title','desc__title')}}>
					{{content.title}}
				</h2>
			</div>
		</div>
		<div {{region_attributes.button.addClass('rc-btn-block')}}>
			{{content.button}}
		</div>
	</div>
{% endif %}