{% if content  %}
	{% if content.bgimage %}
		{% if content.bgimage.layout_builder_add_block %}
			{{ content.bgimage }}
		{% endif %}
		{% set imgUrl %}{{content.bgimage|layout_value}}{% endset %}
	{% endif %}
	<section {{ attributes.addClass(['images-bg','space-padding']) }} style="background-image: url('{{ imgUrl|striptags|trim }}')">
		<div class="container">
			<div class="row">
				<div class = "{{ settings.larger_text }}">
					{% if content.sub_title %}
						<h4 {{ region_attributes.sub_title.addClass(['sub_title']) }}>
							{{ content.sub_title|layout_value }}
						</h4>
					{% endif %}
					{% if content.titre %}
						<h1 {{ region_attributes.titre.addClass(['titre']) }}>
							{{ content.titre|layout_value }}
						</h1>
					{% endif %}
					<div{{region_attributes.link.addClass(['link'])}}>
						<div class="seeMore">
							{% if content.link %}
								{% for i in content.link|array_elements(region_attributes.link.addClass([''])) %}
									{{ item }}
								{% endfor %}
							{#{ content.link }#}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}