{% if content %}
	<section {{attributes.addClass('type-parquet')}}>
		<div
			class="container">
			<!-- .separtor-rectangle-middle -->
			<hr class="separator-rectangle-middle"/>
			{% if content.title %}
				<h2 class="type-parquet__title">
					{{content.title}}
				</h2>
			{% endif %}
			{% if content.introduction %}
				<div class="type-parquet__desc">
					{{content.introduction}}
				</div>
			{% endif %}
			{% if content.subtitle %}
				<h3 class="type-parquet__h3">
					{{content.subtitle}}
				</h3>
			{% endif %}
			{% if content.description %}
				{{content.description}}
			{% endif %}
			<div class="wp-block-columns">
				{% if content.titre_button1 or content.description_button1 %}
					<div class="wp-block-column">
						{% if content.titre_button1 %}
							<p class="wp-block-column__p">
								<span class="tadv-color">
									{{content.titre_button1}}
								</span>
							</p>
						{% endif %}
						{% if content.description_button1 %}
							<blockquote class="wp-block-quote">
								{{content.description_button1}}
							</blockquote>
						{% endif %}
					</div>
				{% endif %}
				{% if content.titre_button2 or content.description_button2 %}
					<div class="wp-block-column">
						{% if content.titre_button2 %}
							<p class="wp-block-column__p">
								<span class="tadv-color">
									{{content.titre_button2}}
								</span>
							</p>
						{% endif %}
						{% if content.description_button2 %}
							<blockquote class="wp-block-quote">
								{{content.description_button2}}
							</blockquote>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}