{% if content %}
	<div{{attributes.addClass('main-twentytwenty')}}>
		<div class="container">
			<div class="d-flex justify-content-center buttons">
				<div{{region_attributes.button1.addclass(['seeMore','after-before']).setattribute('data-tab','#tab-vue-twentytwenty')}}>{{ content.button1 }}</div>
				<div{{region_attributes.button2.addclass(['seeMore','vue-generale']).setattribute('data-tab','#tab-vue-general')}}>{{ content.button2 }}</div>
			</div>
			<div class="tab-content">
				<div class="container-zurb-twentytwenty tab-pane fade show active" role="tabpanel" id="tab-vue-twentytwenty">
					<div class="zurb-twentytwenty">
						{{ content.image1|layout_value }}
						{{ content.image2|layout_value  }}
					</div>
				</div>
				<div class="container-vue-general tab-pane fade " role="tabpanel" id="tab-vue-general">
					{{ content.image|layout_value  }}
				</div>
			</div>
		</div>
	</div>
{% endif %}