{% if content %}
    <div{{ attributes.addclass('projectSummary') }}>
         <div class="projectSummary__square">
              <div class="reinsuranceItem">
                   <div class="reinsuranceItem__iconContainer">
                        <div class="reinsuranceItem__assistance">
                             <i class="fas fa-money-bill-alt"></i>
                        </div>
                   </div>
                   <div{{ region_attributes.prix.addClass('reinsuranceItem__title') }}>
                        {{ content.prix }}
                   </div>
                   <p> {{ 'from'|trans }} </p>
              </div>
         </div>
         <div class="projectSummary__square">
              <div class="reinsuranceItem">
                   <div class="reinsuranceItem__iconContainer">
                        <div class="reinsuranceItem__assistance">
                             <i class="fas fa-clock"></i>
                        </div>
                   </div>
                   <div{{ region_attributes.duree.addClass('reinsuranceItem__title') }}>
                        {{ content.duree }}
                   </div>
              </div>
         </div>
         <div class="projectSummary__square">
              <div class="reinsuranceItem">
                   <div class="reinsuranceItem__iconContainer">
                        <div class="reinsuranceItem__assistance">
                             <i class="fas fa-chart-area"></i>
                        </div>
                   </div>
                   <div{{ region_attributes.surface.addClass('reinsuranceItem__title') }}>
                        {{ content.surface }}
                   </div>
              </div>
         </div>
    </div>
{% endif %}