{% if content %}
	<div{{attributes.addClass('reinsuranceBlock')}}>
		<hr class="reinsuranceBlock__hr"/>
		{% if content.titre  %}
			<div {{region_attributes.titre.addClass('titre','reinsuranceBlock__h3')}}>
				{{ content.titre }}
			</div>
		{% endif %}
		{{ content.items }}
		{% if content.link %}
			<div {{region_attributes.link.addClass('link','reinsuranceBlock__bouton')}}>
				{{ content.link }}
			</div>
		{% endif %}
	</div>
{% endif %}