{% if content %}
	{% if content.imagebg.layout_builder_add_block %}
		{{ content.imagebg }}
	{% endif %}
	{% if content.imagebg|layout_bg_img %}
		{% set attributes = attributes.merge(content.imagebg|layout_bg_img) %}
	{% endif %}
	<section {{attributes.addClass('appson-section-handler')}}>
		<div class="container">
			<div class="slider-content d-flex flex-center">
				<div class=" col-xs-12 d-flex flex-center {% if settings.css_left %}{{settings.css_left}}{% else %}col-md-8{% endif %}">
					<div class="slider-nner">
						{% if content.title %}
							<{{settings.region_tag_title}} {{region_attributes.title.addClass('title')}}>
								{{content.title}}
							</{{settings.region_tag_title}}>
						{% endif %}
						{% if content.sub_title %}
							<h4 {{region_attributes.sub_title.addClass('sub-title')}}>
								{{content.sub_title}}
							</h4>
						{% endif %}
						<div {{region_attributes.description.addClass('description')}}>
							{{content.description}}
						</div>
						{% if content.call_action %}
							<div class="test">
								{% for item in content.call_action|array_elements(region_attributes.call_action.addClass([""])) %}
									{{ item }}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
				<div class=" align-items-end {% if settings.css_right %}{{settings.css_right}}{% else %} col-md-3 d-none d-md-flex {% endif %}">
					{% if content.image %}
						<div {{region_attributes.image.addClass('slider-m-img')}}>
							{{ content.image }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endif %}