{% if content %}
	<section {{attributes.addClass('formatage-models-contact')}}>
		<div class="row">
			<div class="col-auto">
				<div {{region_attributes.titre.addClass('titre')}}>
					{{ content.titre }}
				</div>
				<div {{region_attributes.description.addClass('description')}}>
					{{ content.description }}
				</div>
			</div>
			<div {{region_attributes.content_map_google.addClass('content_map_google')}}>
				{{ content.content_map_google }}
			</div>
		</div>
	</section>
{% endif %}