{% if content %}
<div{{ attributes }}>
	<div class="row">
		<div class="col-md-8">
			<header class="header-blog">
				<div {{ region_attributes.title.addClass(['title']) }}>
					<h1>
						{{ render_var({ '#theme': 'formatage_models__clean_field','#tag_field': 'span', '#content_all': content.title }) }}
					</h1>
				</div>
				<div {{ region_attributes.description.addClass(['description']) }}>
					{{ content.description }}
				</div>
			</header>
		</div>
	</div>
</div>
{% endif %}