
{% if content %}
    <section{{ attributes.addClass(['fm-header-thegem-01']) }}>
         <div class="container">
              <div class="row align-items-center">
                   <div class="col">
                        <div class="row align-items-center">
                             {% for item in settings.infos.fields if item['text'] %}
                                 <div class="col-auto item">
                                      <i class="{{item['icon-f']}}"></i> {{item['text']}}
                                 </div>
                             {% endfor %}
                             <div class="col item">
                                  <div class="d-flex socials-items">
                                       {% for item in settings['social-items'].fields if item['icon-f'] %}
                                           <a class="socials-item" href="{{item['url']}}" target="_blank" title="{{item['text']}}"> <i class="{{item['icon-f']}}"></i> </a>
                                       {% endfor %}
                                  </div>
                             </div>
                        </div>
                   </div>
                   <div class="col-md-auto">
                        <div class="row align-items-center link-text">
                             {% for item in settings.links.fields if item['text'] %}
                                 <div class="col angle-right d-flex align-items-center item">
                                      <a href="{{ item['url'] }}" class="link"> {{ item['text'] }} </a>
                                 </div>
                             {% endfor %}
                             <div class="col d-flex align-items-center">
                                  {% for item in settings['button-action'].fields if item['text'] %}
                                      <a class="{{item['btn-variant']}}">
                                           {{item['text']}}
                                      </a>
                                  {% endfor %}
                             </div>
                        </div>
                   </div>
              </div>
         </div>
    </section>
{% endif %}
