{% if content %}
	<section {{attributes.addClass(['fm-header-thegem-01'])}}>
		<div class="container">
			<div class="row align-items-center">
				<div class="col">
					<div class="row align-items-center">
						{% if content.infos_f1 %}
							<div {{region_attributes.infos_f1.addclass('col-auto','item','infos_f1')}}>
								{{content.infos_f1}}
							</div>
						{% endif %}
						{% if content.infos_f2 %}
							<div {{region_attributes.infos_f2.addclass('col-auto','item','infos_f2')}}>
								{{content.infos_f2}}
							</div>
						{% endif %}
						<div class=" col item ">
							<div class=" d-flex socials-items ">
								{% if content.social_f1 %}
									{{content.social_f1}}
								{% endif %}
								{% if content.social_f2 %}
									{{content.social_f2}}
								{% endif %}
								{% if content.social_f3 %}
									{{content.social_f3}}
								{% endif %}
								{% if content.social_f4 %}
									{{content.social_f4}}
								{% endif %}
								{% if content.social_f5 %}
									{{content.social_f5}}
								{% endif %}
								{% if content.social_f6 %}
									{{content.social_f6}}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-auto">
					<div class="row align-items-center link-text">
						{% if content.links_f1 %}
							<div {{region_attributes.links_f1.addClass('col','angle-right','d-flex','align-items-center','item', 'links_f1')}}>
								{{content.links_f1}}
							</div>
						{% endif %}
						{% if content.links_f2 %}
							<div {{region_attributes.links_f2.addClass('col','angle-right','d-flex','align-items-center','item', 'links_f2')}}>
								{{content.links_f2}}
							</div>
						{% endif %}
						{% if content.links_f3 %}
							<div {{region_attributes.links_f3.addClass('col','angle-right','d-flex','align-items-center','item', 'links_f3')}}>
								{{content.links_f3}}
							</div>
						{% endif %}
						<div class="col d-flex align-items-center">
							{{content.button_f1}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}