<!-- Slider main container -->
<section class="swiper-big-v3">
	<div class="swiper-wrapper">
		{% for row in rows %}
			<div class="swiper-slide">
				<div class="swiper-image d-flex h-100">
					<div class="cover-img">
						{{ row.img }}
					</div>
					<div class="cover-text d-flex ">
						<h4 class="sub_title">
							{{row.sub_title| layout_value}}
						</h4>
						<h2 class="title">
							{{row.title | layout_value}}
						</h2>
						<div class="description">
							{{ row.description }}
						</div>
						<div class="button">
							{{ row.button }}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
</section>