{% if content %}
	<div {{attributes.addClass(['teaser-cardsimple','card'])}}>
		{% if content.image %}
		<div {{region_attributes.image.addClass(['card-img-top','image'])}}>
			{{content.image}}
		</div>
		{% endif %}
		<div class="card-body">
			{% if content.titre|has_value %}
			<h4 {{region_attributes.titre.addClass(['card-title','titre'])}}>
				{% if settings.limit_text_title > 0 and content.titre.layout_builder_add_block is empty %}
					{% set t = content.titre|render|striptags|trim %}
					{{ t|length > settings.limit_text_title ? t|slice(0, settings.limit_text_title) ~ '...' : t}}
				{% else %}
					{{ content.titre }}
				{% endif %}
			</h4>
			{% endif %}
			{% if content.description %}
			<div {{region_attributes.description.addClass(['card-text','description'])}}>
				{% if settings.limit_text_desc > 0 and content.description.layout_builder_add_block is empty %}
					{% set d = content.description|render|striptags|trim %}
					{{ d|length > settings.limit_text_desc ? d|slice(0,settings.limit_text_desc) ~ '...' : d}}
				{% else %}
					{{content.description}}
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
{% endif %}