{% if content %}
	<div class="teaser-img-desc d-flex ">
		<div class="teaser-img-desc__image">
		    {{ content.bgimage }}
		    <div class="categorie">{{ content.categorie }}</div>
		</div>
		<div class="teaser-img-desc__desc">
			<h3 class="title">{{ content.title }}</h3>
			<div class="description">
			{% set text = content.desc|render|striptags|trim %}
            {{ text|length > 150 ? text|slice(0, 150) ~ '...' : text }}
		    </div>
			<div class="time_read">{{ content.time_read }}</div>
		</div>
	</div>
	{% include '@formatage_models/includes/add-region-edit.html.twig' %} 
{% endif %}