{# wbu-atomique/scss/molecule/stan/billetDeBlogTeaser.scss 
#}
{% if content %}
	{# on ajoute un template #}
	{% set RenderBgimage = {
    '#theme': 'formatage_models__img_url',
    '#content_all': content.bgimage,
    '#tag_fields': '',
    '#tag_field': '',
    '#tag_field_attibutes': {}
  }
    %}
	{% set RenderBgimagHtml %}
	{{ render_var(RenderBgimage) }}
	{% endset %}
	<div
		{{attributes.addClass('billetDeBlogTeaser')}} style="background-image: url('{{ RenderBgimagHtml|striptags|trim }}');">
		{# url #}
		{% if content.url %}
			{% set RenderUrl = content.url | layout_raw(0) %}
			{% if RenderUrl.value %}
				{% set RenderUrl %}{{- path('entity.node.canonical', {'node': RenderUrl.value}) -}}{% endset %}
			{% endif %}
		{% endif %}
		{% if RenderUrl %}
			<a href="{{- RenderUrl -}}" class="cover-link">
			{% endif %}
			{% if RenderUrl %}
			</a>
		{% endif %}
		<div class="background">
			<div class="billetDeBlogTeaser__text">
				{% if content.description %}
					<div{{region_attributes.description.addClass('description','d-flex')}}>
						<i class="icon-picons-pin-2"></i>
						{{content.description}}
					</div>
				{% endif %}
				<div{{region_attributes.date.addClass('date')}}>
					{{ content.date|layout_value }}
				</div>
				<div {{region_attributes.titre.addClass('title')}}>
					{{content.titre|layout_value}}
				</div>
			</div>
		</div>
		{% if content.bgimage.layout_builder_add_block %}
			<div{{region_attributes.bgimage.addClass('bgimage')}}>
				{{content.bgimage.layout_builder_add_block}}
			</div>
		{% endif %}
		{% if content.url.layout_builder_add_block %}
			<div{{region_attributes.url.addClass('url')}}>
				{{content.url.layout_builder_add_block}}
			</div>
		{% endif %}
	</div>
{% endif %}