{% if content %}
	<div{{attributes.addClass(['teaser-img-desc','d-flex'])}}>
		{% if content.bgimage %}
			{% if content.link|has_value and content.link.layout_builder_add_block is empty %}
				{% set textUrl = content.link|render|striptags|trim %}
				<a href="{{ textUrl }}" class="cover-test">
				{% endif %}
				{% if content.link.layout_builder_add_block %}
					{{content.link}}
				{% endif %}
				<div class="teaser-img-desc__image">
					{% if content.categorie|has_value %}
						<div {{region_attributes.categorie.addclass('categorie')}}>
							{{ content.categorie|layout_value }}
						</div>
					{% endif %}
					<div {{region_attributes.bgimage.addClass('bgimage','img')}}>
						{{ content.bgimage|layout_value }}
					</div>
				</div>
			{% endif %}
			<div class="teaser-img-desc__desc">
				{% if content.title %}
					<h3 {{region_attributes.title.addClass('title')}}>
						{{ content.title|layout_value }}
					</h3>
				{% endif %}
				{% if content.desc %}
					<div {{region_attributes.desc.addClass('desc','description')}}>
						{% if settings.limit_text > 0 %}
							{% set text = content.desc|render|striptags|trim %}
							{{ text|length > settings.limit_text ? text|slice(0, settings.limit_text) ~ '...' : text }}
						{% else %}
							{{ content.desc|layout_value }}
						{% endif %}
					</div>
				{% endif %}
				{% if content.time_read|has_value %}
					<div {{region_attributes.time_read.addClass('time_read')}}>
						{{ content.time_read }}
					</div>
				{% endif %}
			</div>
			{% if content.link|has_value and content.link.layout_builder_add_block is empty %}
			</a>
		{% endif %}
	</div>
{% endif %}
{% if layout_quickedit %}
	<div class="m-4 border p-4">
		{{layout_quickedit}}
	</div>
{% endif %}