{% if content %}
	{{layout_quickedit}}
	<div{{attributes.addClass('ourAchievments-module')}}>
		{# url #}
		{% if content.url %}
			{% set RenderUrl = content.url|layout_raw(0) %}
			{% if RenderUrl.value %}
				{% set RenderUrl %}{{- path('entity.node.canonical', {'node': RenderUrl.value}) -}}{% endset %}
			{% endif %}
		{% endif %}
		{% if RenderUrl %}
			<a href="{{- RenderUrl -}}">
			{% endif %}
			{# on ajoute un template #}
			{% set RenderBgimage = {
          '#theme':'formatage_models__img_url',
          '#content_all': content.bgimage,
          '#tag_fields': '',
          '#tag_field': '',
          '#tag_field_attibutes':{}
        }
              %}
			{% set RenderBgimagHtml %}{{ render_var(RenderBgimage) }}{% endset %}
			<div class="ourAchievments-module__image" style="background-image: url('{{ RenderBgimagHtml|striptags|trim }}');">
				<div class="ourAchievments-module__container">
					<div class="showProject">
						{% if settings.text_url != '' %}
							<div>{{ settings.text_url }}</div>
						{% endif %}
					</div>
					{% if content.listes %}
						<ul{{region_attributes.listes.addClass('listes')}}>
							{% if content.listes.layout_builder_add_block %}
								{{content.listes|layout_value}}
							{% else %}
								{% for block in content.listes|layout_value %}
									<button class="btn-radius">
										{{block}}
									</button>
								{% endfor %}
							{% endif %}
						</ul>
					{% endif %}
				</div>
			</div>
			<h2 class="ourAchievments-module__title">
				{{ content.titre|layout_value }}
			</h2>
			{% if RenderUrl %}
			</a>
		{% endif %}
	</div>
{% endif %}