{% if content  %}
	<!-- ======= price-block ======= -->
	<div {{attributes.addClass('price-block')}}>
		<div class="item-price">
			<div class="item-price__head">
				{% if content.titre %}
					<div class="name-wrap">
						<h2 {{ region_attibutes.titre.addClass('titre') }}>
							{{content.titre|layout_value}}
						</h2>
						<span {{ region_attributes.periode.addClass(['price_info','d-flex']) }}>
							{{ content.price_info }}
							<span {{ region_attributes.periode.addClass('periode') }}>{{ content.periode }} </span>
						</span>
					</div>
				{% endif %}
				<div class="item-price__wrap">
					<p></p>
					<span class="per-mn"></span>
				</div>
			</div>
			<div class="item-price__body">
				{% if content.listes.layout_builder_add_block %}
					{{ content.listes }}
				{% endif %}
				<ul>
					{% for field in content.listes %}
						{% if (field["#theme"] or field['#items']) %}
							{% for fieldcontent in field.content %}
								{% if fieldcontent["#type"] %}
									<li>
										{{fieldcontent}}
									</li>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
					<li>
						{{content.lien}}
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endif %}