{% if content %}
	<div{{attributes.addClass('projecthero-module')}}>
		{# url #}
		{% if content.url.layout_builder_add_block  %}
			{{ content.url }}
		{% endif %}
		{% if content.url %}
			{% set RenderUrl = content.url|layout_raw(0) %}
			{% if RenderUrl.value %}
				{% set RenderUrl %}{{- path('entity.node.canonical', {'node': RenderUrl.value}) -}}{% endset %}
			{% endif %}
		{% endif %}
		{% if RenderUrl %}
			<a href="{{- RenderUrl -}}">
			{% endif %}
			{# on ajoute un template #}
			{% if content.bgimage.layout_builder_add_block  %}
				{{ content.bgimage }}
			{% endif %}
			{# #}
			{% if content.bgimage|layout_bg_img %}
        		{% set region_bgimage = region_attributes.bgimage.merge(content.bgimage|layout_bg_img) %}
        	{% else %}
        		{% set region_bgimage = region_attributes.bgimage %}
        	{% endif %}
			<div {{region_bgimage.addClass('projecthero-module__image')}}></div>
			
			<div {{region_attributes.listes.addclass('listes','projecthero-module__header')}}>
                    {% if content.listes.layout_builder_add_block %}
						{{content.listes|layout_value}}
					{% else %}
					<ul class="layout-region">
						{% for field in content.listes %}
							{% if (field['#theme'] or field['#items']) %}
								<button class="btn-radius">
									{{ field }}
								</button>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
				<h2 {{region_attributes.titre.addClass('titre','projecthero-module__title')}}>
					{{ content.titre|layout_value }}
				</h2>
				{% if content.description %}
					<div {{region_attributes.description.addClass('description')}}>
						{{content.description}}
					</div>
				{% endif %}
			</div>
			{% if RenderUrl %}
			</a>
		{% endif %}
	</div>
{% endif %}