{% if content %}
	<div{{attributes.addClass('projecthero-module')}}>
		{# url #}
		{% if content.url %}
			{% set RenderUrl = content.url|layout_raw(0) %}
			{% if RenderUrl.value %}
				{% set RenderUrl %}{{- path('entity.node.canonical', {'node': RenderUrl.value}) -}}{% endset %}
			{% endif %}
		{% endif %}
		{% if RenderUrl %}
			<a href="{{- RenderUrl -}}">
			{% endif %}
			{# on ajoute un template #}
			{% set RenderBgimage = {
          '#theme':'formatage_models__img_url',
          '#content_all': content.bgimage,
          '#tag_fields': '',
          '#tag_field': '',
          '#tag_field_attibutes':{}
        }
              %}
			{% set RenderBgimagHtml %}{{ render_var(RenderBgimage) }}{% endset %}
			<div class="projecthero-module__image" style="background-image: url('{{ RenderBgimagHtml|striptags|trim }}');"></div>
			<div {{region_attributes.listes.addclass('listes','projecthero-module__header')}}>
				{% if content.listes %}
					<ul class="layout-region">
						{% for field in content.listes %}
							{% if (field["#theme"] or field['#items']) %}
								<button class="btn-radius">
									{{ field }}
								</button>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
				<h2 {{region_attributes.titre.addClass('titre','projecthero-module__title')}}>
					{{ content.titre|layout_value }}
				</h2>
				{% if content.description %}
					<div {{region_attributes.description.addClass('description')}}>
						{{content.description}}
					</div>
				{% endif %}
			</div>
			{% if RenderUrl %}
			</a>
		{% endif %}
	</div>
{% endif %}